header{
    font-size: 60px;
    font-family: 'Supermercado One', cursive;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    font-weight: 500;
    background-color: transparent;
}

.info{
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 18px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    float: left;
}

.info1{
    display: inline-block;
    margin-right: 11%;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    float: right;
    
}

.info2{
    clear: both;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 35px;
}

#marvel{
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
#marvel:hover{
    color: black;
}

footer{
    text-align: center;
    margin-top: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.container{
    margin: 0;
}

#card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    margin: 20px auto;
    width: 80%; 
}

.card_div{
    display: flex;
    height: 210px;
    width: 170px;
    border-radius: 11px;
    background-image: url(../images/Avengers_logo.jpg);
    background-position: center;
    align-content: center;
    
    
}
.card_div:hover{
    height: 220px;
    width: 180px;
}

img:hover{
    width: 170px;
    height: 210px;
    margin: auto;
    overflow: hidden;
    border:4px solid black;
    border-radius: 11px;
}
img{
    width: 160px;
    height: 200px;
    margin: auto; 
    border-radius: 11px;
}

body{
    background: radial-gradient(rgba(44, 41, 41, 0.589), red);
}


@media only screen and (max-width: 1361px){
    #card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 12px
    }
}
    

@media only screen and (max-width: 1078px){
    #card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 12px
    }
}

@media only screen and (max-width: 850px){
    #card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 12px
    }
}

 @media only screen and (max-width: 710px){
    #card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        /* margin-right: 20%; */
    }
    .info1{
        margin-right: 20%;
    }

}

@media only screen and (max-width: 710px){

    .info1{ 
        margin-right: 15%;
        font-size: 25px;
    }
    .info{
        font-size: 25px;
    }
}

#reset{
    font-size: 16px;
    font-family: fantasy;
    border-radius: 17px;
    border-color: black;
    background-color: rgb(192, 204, 23);
    margin-left: 47%;
    margin-top: 10px;
}

#play{
    margin-left: 49%;
    margin-top: 10%;
    font-size: 30px;
    font-family: 'Supermercado One', cursive;
    background: radial-gradient(hsla(0, 100%, 50%, 0.034), orange);
    border: solid black 2px;
    border-radius: 10px;
}

#play:hover{
    background: radial-gradient(hsla(0, 97%, 47%, 0.74), orange);
}

#instructions{
    font-size: 25px;
    font-weight: 900;
    margin-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10%;
}